coverage/
node_modules/
dist/hot
nodeEnv/
# dist/
dist/test/
dist/examples/
dist/bwdl-*
dist/css.*
dist/app.*
dist/example*
dist/graph*
dist/index*
dist/sidebar*

# temporary jenkins files
test/test.js.tap
jshint.xml
jshint-proper.xml

core
package-lock.json
yarn.lock
npm-debug.log

# WebStorm
.idea

.DS_Store
*.log
